div#top{
  background-color: #1261A0;
  min-height: 100px;
  position: relative;
}

div#bottom{
  background-color:#1261A0;
  position: relative;
  height: 100px;
}

h2#reserved {
  text-align: center;
  font-size: 15px;
}

h1#title {
  text-align: center;
  font-size: 40px;
  color:#07263f;
}

h1#tag {
  text-align: center;
  font-size: 20px;
  color:#1261A0;
}

h1#logotext {
  font-size: 50px;
  font-family: Blippo, fantasy;
  color: white;
  margin: 0 auto;
  margin-left: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
}