div{
  width: device-width;
}

div#top{
   background-color: #1261A0;
   height: 70px;
   position: relative;
}

div#bottom{
   background-color:#1261A0;
   position: relative;
   height: 100px;
}

.bclass {
  margin-top: 5px;
  margin-bottom: 5px;
  width: calc(150px + 30vmin);
  background-color: #2a9df4;
  font-size: calc(20px + 1vmin);
  border-radius: 10px;
  height: 60px;
  margin-left: 3vw;
  margin-right: 3vw;
}

.bclass:hover {
  background-color: #6ab8f3;
  font-size: calc(20px + 1.05vmin)
}

.bclass:hover  {
  background-color: #6ab8f3;
  font-size: calc(20px + 1.05vmin)
}

button#au{
  width: calc(150px + 10vmin);
  font-size: calc(12px + 1vmin);
  background-color: #b9c6cf;
  height: 30px;
}

input#submitcall{
  width: calc(150px + 30vmin);
  background-color: #2a9df4;
  font-size: calc(20px + 1vmin);
  border-radius: 10px;
  height: 60px;
  margin-bottom: 5px;
}

input#submitcall:hover {
  background-color: #6ab8f3;
  font-size: calc(20px + 1.05vmin)
}

div#nickname{
  position: absolute;
  top: 0;
  right: 0;
}

h2#reserved {
  text-align: center;
  font-size: 15px;
}

h1#logotext {
  font-size: 50px;
  font-family: Blippo, fantasy;
  color: white;
  margin: 0 auto;
  margin-left: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
}
