
  
  .easter .background {
    background-size:contain;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    position: absolute;
    width: 1000px;
    height:900px;
  }
  
  .easter #easterButton {
    background-color:transparent;
    position:static;
    margin-top: 5%;
    margin-left: 20%;
    width:110px;
    height:100px;
    background:transparent;
    border: none;
    outline: none;
  }

  .easter #counter {

    visibility: hidden;
  }

  #easterContainer {
    width:100%;
    height: 100%;
    background-color: black;
  }