

  .easter .background {
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    margin:0 auto;
    
    width: 100%;
    height:100%;
  }

  .easter .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .easter .App-header {
    
    overflow: hidden;

    background-color: black;
  }

  #easterDiv {
      width:100%;
      height: 100%;
      overflow: hidden

  }

  .easter .App-link {
    color: #61dafb;
  }


  .easter #easterButton {
    background-color:transparent;
    position:static;
   
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
  }

  .easter #counter {

    visibility: hidden;
  }

  #easterDiv {
    width:100%;
    height: 100%;
    background-color: black;
    overflow: hidden;

    
    }

.easter #backgroundImage {
  width: 100%;
  background-color: black;
  overflow: hidden;
}