
#mainDiv {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #e0eaf3;
}

#side {
    margin-bottom: calc(15px + 15vmin);
}

.callNameField form {
    font-size: calc(25px + 1vmin);
}

.callNameField input {
    font-size: calc(25px + 1vmin);
    width: calc(150px + 30vmin);
  }

.sidebar {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}

.luckymsg {
    color:red;
    text-align: center;
}