
#mainDiv {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #e0eaf3;
}

#side {
    margin-bottom: 100px;
}

.callNameField form {
    font-size: 35px;
}

.callNameField input {
    font-size: 30px;
  }

.sidebar {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}

.luckymsg {
    color:red;
    text-align: center;
}