div{
  width: device-width;
}

.grayButton {
  color: #398AD7;
  background-color: #e6eaef;
  width: calc(150px + 25vw);
  font-size: 22px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid;
  border-width: 2px;
}

.grayButton > a {
  text-decoration: none;
}

.callsList {
  display: block;
}

.call {
  background: lightgrey;
  border: solid;
  border-width: 2px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  width: calc(150px + 35vw);
}

.link {
  height: 90px;
  width: 150px;
}

.link-text{
  vertical-align: top;
  padding: 2%;
  background-color: white;
  border: solid black;
  border-width: 1px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: calc(20px + 1.3vw) !important;
  margin: 0;
  margin-bottom: 10px;
}

.stats {
  vertical-align: top;
}

.duration {
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: white;
  padding: 7px;
  border: solid;
  border-bottom: 0px;
  border-width: 1px;
}

.people {
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: white;
  padding: 7px;
  border: solid;
  border-width: 1px;
}

.no-calls-image {
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
}

.paragraph-call {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px !important;
  margin: 0 auto;
  text-decoration: none;
}

.paragraph-info {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px !important;
  margin: 0 auto;
  text-decoration: none;
}
