div{
  width: device-width;
}

.grayButtontag {
  color: #398AD7;
  background-color: #e6eaef;
  width: calc(150px + 25vw);
  font-size: 22px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border-radius: 25px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid;
  border-width: 2px;
}

.grayButtontag > a {
  text-decoration: none;
}

.tag {
  background: lightgrey;
  border: solid;
  border-width: 2px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  width: calc(150px + 35vw);
}

.linktag {
  font-size: 24px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  padding: 2%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  margin-right: 5%;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
}

.callstag {
    font-size: 24px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    background-color: white;
    border: 1px solid black;
    margin-left: 5%;
    height: 80px;
    text-decoration: none;
}

.paragraphtag {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: calc(10px + 1.5vw) !important;
  line-height: 80px;
  margin: 0 auto;
}

.no-calls-image {
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
}
